server:
  port: 8080

spring:
  config:
    import: optional:file:.env[.properties]
  datasource:
    # Local
    url: jdbc:postgresql://localhost:5432/smarthealth
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate # hoặc none trên Render/prod
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

firebase:
  service-account-json: ${FIREBASE_SERVICE_ACCOUNT_JSON:}

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs
